%h1 友達一覧

= link_to 'ホーム', :root
%br

%span
  - @users.each do |user|
    - @info = user.information
    %div
      %strong= link_to @info.name, user_path(user)
      %br
      = render 'shared/user_info'