%h1 友達一覧

= link_to 'ホーム', :root
%br

%span
  - @users.each do |user|
    - @info = user.information
    %div
      %strong= link_to display_char(@info.name), user_path(user)
      = ' ' + display_char(@info.status)
      %br
      = render 'shared/user_info'